<a href="https://colab.research.google.com/github/uapej/DA3/blob/main/TIM50_Jaden_Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Imports and sets everything up
import sqlalchemy
engine = sqlalchemy.create_engine('sqlite:///myDB')
con = engine.raw_connection()
cursor = con.cursor()

In [2]:
# creates flight table
q = """CREATE TABLE IF NOT EXISTS flights
(Depart_Time TEXT, Origin TEXT, Arrival_Time TEXT, Destination
TEXT, Flight TEXT, Aircraft TEXT, Stops TEXT, hours INTEGER,
minutes INTEGER, duration REAL, codeshare INTEGER,
PRIMARY KEY(Depart_Time, Flight));"""

cursor.execute(q)

con.commit()

In [11]:
# creates aircraft table
q = """CREATE TABLE aircrafts(Aircraft TEXT, Seats INT,
PRIMARY KEY(Aircraft));"""
cursor.execute(q)
con.commit()

In [7]:
# import to transfer data to table
import pandas as pd

In [8]:
# transferring data to table
data = pd.read_csv('flights-2.csv')
data.to_sql('flights', con, if_exists='append', index=False)

In [12]:
# transfers data to table
data = pd.read_csv('aircrafts.csv')
data.to_sql('aircrafts', con, if_exists='append', index=False)

In [13]:
# drops flight table to create my own primary key
q = "DROP TABLE IF EXISTS flights;"
cursor.execute(q)
con.commit()

In [28]:
# creates table with my own primary key
q = """CREATE TABLE IF NOT EXISTS flights
(Depart_Time TEXT, Origin TEXT, Arrival_Time TEXT, Destination
TEXT, Flight TEXT, Aircraft TEXT, Stops TEXT, hours INTEGER,
minutes INTEGER, duration REAL, codeshare INTEGER,
PRIMARY KEY(Origin, Flight));"""
cursor.execute(q)
con.commit()

In [29]:
# transferring data to table
data = pd.read_csv('flights-2.csv')
data.to_sql('flights', con, if_exists='append', index=False)

In [34]:
# displays top 8 rows from flights that are from origin aiport "BOS"
# presents them in ascending order
q = '''SELECT * FROM flights WHERE Origin = 'BOS' ORDER BY Depart_Time ASC LIMIT 8;'''
for row in cursor.execute(q): print(row)

('11:04', 'BOS', '14:39', 'SFO', 'NZ 9507 ', '752', 'Non-Stop', 6, 35, 6.58, 1)
('11:04', 'BOS', '14:39', 'SFO', 'UA 177 ', '752', 'Non-Stop', 6, 35, 6.58, None)
('11:04', 'BOS', '14:39', 'SFO', 'US 6337 ', '752', 'Non-Stop', 6, 35, 6.58, 1)
('17:58', 'BOS', '21:28', 'SFO', 'NZ 9509 ', '752', 'Non-Stop', 6, 30, 6.5, 1)
('17:58', 'BOS', '21:28', 'SFO', 'UA 179 ', '752', 'Non-Stop', 6, 30, 6.5, None)
('17:58', 'BOS', '21:28', 'SFO', 'US 6339 ', '752', 'Non-Stop', 6, 30, 6.5, 1)
('19:30', 'BOS', '23:05', 'SFO', 'AA 197 ', '757', 'Non-Stop', 6, 35, 6.58, None)
('19:30', 'BOS', '23:05', 'SFO', 'AS 1080 ', '757', 'Non-Stop', 6, 35, 6.58, 1)

In [35]:
# displays top 8 rows from flights that are from origin aiport "BOS"
# presents them in descending order
q = '''SELECT * FROM flights WHERE Origin = 'BOS' ORDER BY Depart_Time DESC LIMIT 8;'''
for row in cursor.execute(q): print(row)

('9:30', 'BOS', '15:12', 'SFO', 'UA 217 ', '752', '1', 8, 42, 8.7, None)
('8:40', 'BOS', '12:15', 'SFO', 'AA 183 ', '757', 'Non-Stop', 6, 35, 6.58, None)
('8:40', 'BOS', '12:15', 'SFO', 'AS 1269 ', '757', 'Non-Stop', 6, 35, 6.58, 1)
('8:40', 'BOS', '12:15', 'SFO', 'QF 3016 ', '757', 'Non-Stop', 6, 35, 6.58, 1)
('7:54', 'BOS', '11:29', 'SFO', 'NZ 9503 ', '752', 'Non-Stop', 6, 35, 6.58, 1)
('7:54', 'BOS', '11:29', 'SFO', 'UA 173 ', '752', 'Non-Stop', 6, 35, 6.58, None)
('7:54', 'BOS', '11:29', 'SFO', 'US 6335 ', '752', 'Non-Stop', 6, 35, 6.58, 1)
('6:25', 'BOS', '10:00', 'SFO', 'NZ 9501 ', '752', 'Non-Stop', 6, 35, 6.58, 1)

In [38]:
# displays origin airports with capacity greater than 300 in reverse alphabetical order
q = '''SELECT Origin 
FROM flights LEFT JOIN aircrafts on flights.Aircraft = aircrafts.Aircraft 
WHERE aircrafts.Seats > 300
ORDER BY Origin DESC;'''
for row in cursor.execute(q): print(row)

('TPE',)
('TPE',)
('TPE',)
('TPE',)
('TPE',)
('TPE',)
('TPE',)
('TPE',)
('SYD',)
('PVG',)
('PVG',)
('PVG',)
('PEK',)
('NRT',)
('NRT',)
('NRT',)
('NRT',)
('NRT',)
('LHR',)
('LHR',)
('LHR',)
('LHR',)
('LHR',)
('HKG',)
('HKG',)
('HKG',)
('HKG',)
('HKG',)
('FRA',)
('FRA',)
('FRA',)
('FRA',)
('FRA',)
('FRA',)

In [56]:
# Finds the aircraft model and the respective Count of aircraft models, Maximum passengers,
# and Sum of Passengers that travel from BOS on Airplanes whose model name has the number
# “3” in it.
q = '''SELECT flights.Aircraft, SUM(flights.Aircraft), MAX(Seats), SUM(Seats)
FROM flights LEFT JOIN aircrafts ON flights.Aircraft = aircrafts.Aircraft
WHERE flights.Origin = 'BOS' AND flights.Flight LIKE '%3%';'''
for row in cursor.execute(q): print(row)

('757', 6783, 182, 1638)